%html

  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :rel => "stylesheet", :href => "/foundation-5.2.2/css/foundation.css" }
    %link{ :rel => "stylesheet", :href => "/css/server.css" }
    %script{ :src => "/foundation-5.2.2/js/vendor/modernizr.js" }

    %title<
      - case 
      - when @world
        = @world.name
      - when @location
        = @location.name

  %body

    = yield

    %script{ :src => "/foundation-5.2.2/js/vendor/jquery.js" }
    %script{ :src => "/foundation-5.2.2/js/foundation.min.js" }
    %script{ :src => "/js/server.js" }


