%html

  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :rel => "stylesheet", :href => "/foundation-5.2.2/css/foundation.css" }
    %link{ :rel => "stylesheet", :href => "/css/server.css" }
    %script{ :src => "/foundation-5.2.2/js/vendor/modernizr.js" }

    %title<
      - case 
      - when @world
        = @world.name
      - when @location
        = @location.name

  %body

    %script{ :src => "/foundation-5.2.2/js/vendor/jquery.js" }
    %script{ :src => "/foundation-5.2.2/js/foundation.min.js" }
    %script{ :src => "/handlebars-1.1.2/handlebars.js" }
    %script{ :src => "/ember-1.7.0/ember.js" }
    %script{ :src => "/ember-data-1.0.0-beta.9/ember-data.js" }
    %script{ :src => "/ember-animate-0.3.5/ember-animate.js" }
    %script{ :src => "/js/server.js" }

    = yield

