%html

  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :rel => "stylesheet", :href => "/foundation/css/foundation.css" }
    %script{ :src => "/foundation/js/vendor/modernizr.js" }
    %title<
      - case 
      - when @world
        = @world.name
      - when @location
        = @location.name

  %body

    = yield

    %script{ :src => "/foundation/js/vendor/jquery.js" }
    %script{ :src => "/foundation/js/foundation.min.js" }
    %script $(document).foundation();
 
