.row
  .large-12.columns
    .location{ :id => "location_#{@location.id}" }
      %h1.name= @location.name
      %p.description= @location.description
      = partial :way, collection: @location.ways.values

