
<script type="text/x-handlebars">
  <div>
    <hr/>
      {{outlet}}
    <hr/>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="location">
  <div>
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    {{#each item in items}}
      {{render "item" item}}
    {{/each}}
    {{#each way in ways}}
      {{render "way" way}}
    {{/each}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="item">
  <div {{bind-attr id=item.div_id}}>
    <p class="description">{{name}} : {{description}}</p>
    {{#each action in actions}}
      {{render "execution" action.execution}}
    {{/each}}
    <ul>
      {{#each action in actions}}
        {{render "action" action}}
      {{/each}}
    </ul>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="action">
  <li class="action"><a {{action 'execute'}}>{{name}} : {{description}}</a></li>
</script>

<script type="text/x-handlebars" data-template-name="execution">
  <p class="describe-action">{{describe}}</p>
</script>

<script type="text/x-handlebars" data-template-name="way">
  <p>{{name}} : {{description}}</p>
</script>

<script type="text/javascript">
  <%= "var initial_location_id = '#{@location.id}';" %>
</script>

<script src="/js/play.js"></script>

<%#
.row
  .large-12.columns
    .way{ :id => "way-#{way.id}" }
      %a.go{ :id => "go-#{way.id}", :href => "/go/#{way.id}" }
      %p.description= way.description
    %p.going
%>


