.row
  .large-12.columns
    .world
      %h1.name= @world.name
      %p.description= @world.description

      .row
        .large-12.columns
        - if @world.start
          .start
            %a{ :href => "/location" } Start
        - else
          .no-start
            %p No start location defined

