
%script{ :type => "text/x-handlebars" }
  <hr />
  {{outlet}}
  <hr />

%script{ :type => "text/x-handlebars", :id => "index" }
  {{link-to 'Locations' 'locations'}}

%script{ :type => "text/x-handlebars", :id => "locations" }
  <ul>
  {{#each location in model}}
  <li>{{link-to location.name 'location' location.id}}</li>
  {{/each}}
  </ul>

%script{ :type => "text/x-handlebars", :id => "location" }
  <div>
  <h1>{{model.name}}</h1>
  <p>{{model.description}}</p>
  </div>

