%div.row
  %div.large-12.columns
    %div.world
      %h1.name= @world.name
      %p.description= @world.description

      %div.row
        %div.large-12.columns
        - if @world.start
          %div.start
            %a{ :href => "/location" } Start
        - else
          %div.no-start
            %p No start location defined

