.row
  .large-12.columns
    .world
      %h1.name= @world.name
      %p.description= @world.description

      .row
        .large-12.columns
          - if @world.start
            .start
              %a#start{ :href => "/location" } Start
          - else
            .no_start
              %p No start location defined

