
<script type="text/x-handlebars">
  <div class="row">
    <div class="large-12 columns">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="location">
  <div class="row">
    <div class="large-12 columns">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
      {{#each item in items}}
        {{render "item" item}}
      {{/each}}
      {{#each way in ways}}
        {{render "way" way}}
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="item">
  <div class="row">
    <div class="large-12 columns">
      <div {{bind-attr id=item.div_id}}>
        <p class="description">{{description}}</p>
        {{#each action in actions}}
          {{render "execution" action.execution}}
        {{/each}}
        <ul>
          {{#each action in actions}}
            {{render "action" action}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="way">
  <div class="row">
    <div class="large-12 columns">
      <div {{bind-attr id=way.div_id}}>
        <p class="description">{{description}}</p>
        {{#each action in actions}}
          {{render "execution" action.execution}}
        {{/each}}
        <ul>
          {{#each action in actions}}
            {{render "action" action}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="action">
  <li class="action"><a {{action 'execute'}}>{{display_description}}</a></li>
</script>

<script type="text/x-handlebars" data-template-name="execution">
  <p class="describe-execution">{{display_describe}}</p>
</script>

<script type="text/javascript">
  <%= "var initial_location_id = '#{@location.id}';" %>
</script>

<script src="/js/play.js"></script>

